body {
    margin: 0;
    background-image: url(https://w0.peakpx.com/wallpaper/219/648/HD-wallpaper-minimalist-minimalistic-anime.jpg);
    background-size: cover;
}

.header {
    background-color: white;
    border-bottom: 3px black solid;
    margin: auto;
}

.header h1 {
    padding-left: 100px;
    padding: 20px;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header img {
    width: 50px;
    vertical-align: middle;
}

.content .boxes{
    justify-content: space-around;
    display: flex;
    margin: auto;
    padding: 50px;
    width: 80%;
    border-radius: 20px;
}

.content h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-shadow: black ;

}

.boxes a{
    text-decoration: none;
    color: black;
}

.box{
    background-color: white;
    border: 2px black solid;
    border-radius: 20px;
    padding: 20px;
    transition: 0.5s;
}

.box:hover{
    background-color: brown;
    color: white;
    padding: 20px;
    padding-top: 10px;
    cursor: pointer;
}

.box h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.box img{
    height: 200px;
    margin: 40px;
}

.box p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}



